body{
     background-color: skyblue;
     display: flex;
     flex-direction: column;
}
.searchBar{
     display: flex;
     flex-direction: row;
     align-content: center;
     justify-content: center;
     width: 100%;
     border-radius: 2px solid whitesmoke;
     
}
.mainContainer{
     display: flex;
     flex-direction: row;
     width: 100%;
     /* height: ; */
     justify-content: center;
     align-items: center;
}
.dashboard{
     display: flex;
     flex-direction: column;
     width: 70%;
     /* height: 80%; */
     background-color: aliceblue;
     border-radius: 25px;
}
.sideBar{
     display: flex;
     flex-direction: column;
}